[submodule "Code_Mega/lib/Encoder"]
	path = Code_Mega/lib/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
[submodule "Code_Mega/lib/XL320"]
	path = Code_Mega/lib/XL320
	url = https://github.com/Zalk0/XL320.git
[submodule "Code_Mega/lib/AX-12A-servo-library"]
	path = Code_Mega/lib/AX-12A-servo-library
	url = https://github.com/jumejume1/AX-12A-servo-library.git
[submodule "Code_Mega/lib/SimpleTimer"]
	path = Code_Mega/lib/SimpleTimer
	url = https://github.com/schinken/SimpleTimer.git
[submodule "Code_Nano/lib/LiquidCrystal_I2C"]
	path = Code_Nano/lib/LiquidCrystal_I2C
	url = https://github.com/johnrickman/LiquidCrystal_I2C.git
